body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
    height: auto;
}


.Contact {
    margin-top: 10px;
    text-align: center;
    color: #333;
}

.contact-info {
    margin-top: 10px;
    
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    .main-content {
        padding: 10px;
    }

    .project img {
        margin-bottom: 10px;
    }

    footer {
        position: relative;
    }
}